/* Estilos para el tema claro */
body {
    background-color: #ffffff; /* Fondo blanco */
    color: #000000;            /* Texto negro */
  }

  h1 {
    color: #000000;             /* Texto negro */
  }

  /* Agrega aquí más estilos para el tema claro */
